<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wink.knockmate">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knockmate"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CharacterChoiceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WorkThroughActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TempActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AppInfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".InquiryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NotationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".InviteGroupMemActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CreateGroupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TermsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NicknameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LogInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditEmailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".KnockmateActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ModifyScheduleActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TestMain"
            android:exported="true"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>